.add-product-btn {
  &:hover {
    background-color: #f3f3f3;
  }

  &:focus {
    background-color: #dddddd;
  }

  &:active {
    background-color: #d1d0d0;
  }

  &.active {
    background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
    opacity: 0.6;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      opacity: 1;
    }

    &:active {
      opacity: 0.8;
    }
  }
}
