.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  height: 100vh;
  width: 100%;

  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.drawler {
  position: absolute;
  top: 0;
  right: 0;

  width: 450px;
  height: 100%;
  padding: 30px;

  background-color: #fff;

  .cart-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 93%;
  }

  .cart-title {
    margin-bottom: 30px;
  }

  .products-list {
    max-height: 50vh;
    overflow-y: scroll;
  }
}
